/****************************** SLIDE FADE IN ******************************/
.slide-fade-in-enter-active {
    transition: all .5s ease;
}
.slide-fade-in-leave-active {
    display: none;
}
.slide-fade-in-enter {
    transform: translateX(10px);
    opacity: 0;
}